<div class="pb-2 mt-4 mb-2 border-bottom">
    <h1>
        <img src="http://placehold.it/50x50" class="img-circle">
        Janko Walski
    </h1>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group row">
            <label for="name" class="col-sm-4 col-form-label font-weight-bold">Imię i nazwisko</label>
            <div class="col-sm-8">
                <p class="form-control-plaintext">Janko Wolski</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group row">
            <label for="name" class="col-sm-4 col-form-label font-weight-bold">Adres e-mail</label>
            <div class="col-sm-8">
                <p class="form-control-plaintext">Janko@walski.com</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group row">
            <label for="name" class="col-sm-4 col-form-label font-weight-bold">Numer telefonu</label>
            <div class="col-sm-8">
                <p class="form-control-plaintext">01234567890</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group row">
            <label for="name" class="col-sm-4 col-form-label font-weight-bold">Strona WWW</label>
            <div class="col-sm-8">
                <p class="form-control-plaintext">http://janko-walski.info</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group row">
            <label for="name" class="col-sm-4 col-form-label font-weight-bold">Adres</label>
            <div class="col-sm-8">
                <p class="form-control-plaintext">
                    ul.Zadadkowa 123<br>
                    Szarada Duża 10-010<br>
                    Polska
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group row">
            <label for="name" class="col-sm-4 col-form-label font-weight-bold">Uwagi</label>
            <div class="col-sm-8">
                <p class="form-control-plaintext">Kilka słów na temat Janka</p>
            </div>
        </div>
    </div>
</div>
