<div class="pb-2 mt-4 mb-2 border-bottom">
    <h1>Wszystkie kontakty</h1>
</div>
<div class="table table-responsive table-hover">
    <table>
        <thead>
            <tr>
                <th>Imię i nazwisko</th>
                <th>Adres e-mail</th>
                <th>Numer telefonu</th>
                <th>operacje</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Karn Nerka</td>
                <td>karenne@email.com</td>
                <td>01234 56734</td>
                <td><a href="#" class="btn btn-light btn-sm">Wyświetl</a></td>
            </tr>
            <tr>
                <td>Janko Walski</td>
                <td>janko@walski.com</td>
                <td>01234 567890</td>
                <td><a href="#" class="btn btn-light btn-sm">Wyświetl</a></td>
            </tr>
        </tbody>
    </table>
</div>