<!DOCTYPE html>
<html lang="pl" ng-app="App">
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
    <meta charset="UTF-8">
    <title>Menedżer kontaktów</title>
</head>
<body ng-controller="AppCtrl" ng-cloak>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Menadżer kontaktów</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#nav-toogle" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav-toogle">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Przeglądaj</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add">Dodaj kontakt</a>
                </li>
            </ul>
            <form class="form-inline ml-auto" role="search">
                <input class="from-control" type="text" placeholder="Szukaj">
            </form>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <button ng-click="clickHandler()">kliknij mnie</button>
                <div ng-hide="isHidden">
                    Kliknik przycisk powyżej, aby przełączyć widoczność.
                </div>
                <div ng-if="!isHidden">
                    jest
                </div>
                <ul>
                    <li ng-repeat="contact in contacts">
                        {{contact.name}}
                    </li>
                </ul>
                <p ng-class="{'text-center': center, 'text-danger': error}" ng-style="styleDemo()">
                    aaaa
                </p>
                <label>
                    <input type="checkbox" ng-model="styler">
                    ng-style
                </label>
            </div>
            <div class="col-sm-4">
                To jest pasek boczny.
            </div>
        </div>
    </div>
</body>
</html>